@tailwind base;
@tailwind components;
@tailwind utilities;

.moveTiles:hover {
  transform: translate(0, -10px);
}

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all 
     hover:border-[#f7ab0a]/60 hover:text-[#f7ab0a]/60;
  }
  .contactInput {
    @apply outline-none bg-[rgb(68,68,68)]/70 rounded-b px-4 py-2 border border-[rgb(48,48,48)] 
    text-gray-500 placeholder-gray-500 transition-all focus:border-[#f7ab0a]/60 focus:text-[#f7ab0a]/60
    hover:border-[#f7ab0a]/60;
  }
}
#move_Tiles:hover {
  transform: translate(0, -10px);
}

#hideMeAfter5Seconds {
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
